@for (item of users; track item.id) {
<div class="container">
    <div class="card">
        <h5 class="card-header">user number: {{item.id}}</h5>
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <h5 class="card-title">{{item.email}}</h5>
            <h5 class="card-title">{{item.phoneNumber}}</h5>
            <h5 class="card-title">{{item.role}}</h5>
            @if (item.id) {
            <div>
                <button (click)="makeNewAdmin(item.id)" class="btn btn-primary">make admin</button>
                <button (click)="deleteUser(item.id)" class="btn btn-danger">delete user</button>
            </div>
            }
        </div>
    </div>
</div>
}