<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <form [formGroup]="userForm">
                                <h2 class="fw-bold mb-2 text-uppercase">Signup</h2>

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <input formControlName="email" type="email" id="typeEmailX"
                                        class="form-control form-control-lg" />
                                    <label class="form-label" for="typeEmailX">Email</label>
                                    @if (userForm.get('email')?.touched && userForm.get('email')?.invalid) {
                                    <div>email is required</div>
                                    }
                                </div>

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <input formControlName="pass" type="password" id="typePasswordX"
                                        class="form-control form-control-lg" />
                                    <label class="form-label" for="typePasswordX">Password</label>
                                    @if (userForm.get('pass')?.touched && userForm.get('pass')?.invalid) {
                                    <div>Please Enter A Valid Password</div>
                                    }
                                </div>

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <input formControlName="name" type="text" id="userName"
                                        class="form-control form-control-lg" />
                                    <label class="form-label" for="userName">User Name</label>
                                    @if (userForm.get('name')?.touched && userForm.get('name')?.invalid) {
                                    <div>User Name Is Required</div>
                                    }
                                </div>

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <input formControlName="phoneNumber" type="text" id="telphone"
                                        class="form-control form-control-lg" />
                                    <label class="form-label" for="telphone">Phone Number</label>
                                    @if (userForm.get('phoneNumber')?.touched && userForm.get('phoneNumber')?.invalid) {
                                    <div>Phonenumber Is Required</div>
                                    }
                                </div>

                                <button data-mdb-button-init data-mdb-ripple-init
                                    class="btn btn-outline-light btn-lg px-5" (click)="createUser()"
                                    type="submit">Signup</button>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>